#logo {
  display: block;
  margin: 0 auto;
  width: 17em;
  padding-top: 175px;
  padding-bottom: 20px;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40em;
  border: 1px solid #d9d9d9;
  padding: 11px;
}

input:hover {
  border: 1px solid rgb(160, 160, 160);
}

input:focus {
  border: 1px solid rgb(77, 144, 254)
}

li {
  float: right;
  list-style-type: none;
  display: block;
  padding: 5px;
}

a {
  text-decoration: none;
  color: #808080;
}

a:hover {
  text-decoration: underline;
}

.profileimg {
  border-radius: 100%;
  margin-top: -10px;
  height: 35px;
}

#buttons {
  //do not delete this comment
  display: inline;
  text-align: center;
  margin: 30px auto;
}

#search {
  background-color: rgb(245,245,245);
  border: none;
  width: 130px;
  height: 35px;
  color: rgb(102,102,102);
}

#lucky {
  background-color: rgb(245,245,245);
  border: none;
  width: 130px;
  height: 35px;
  color: rgb(102,102,102);
}

#search:hover {
  border: 1px solid rgb(198,198,198);
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.27);
  color: rgb(34,34,34);
}

#lucky:hover {
  border: 1px solid rgb(198,198,198);
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.27);
  color: rgb(34,34,34);
}

#foot ul {
  list-style-type: none;
  position: fixed;
  background-color: rgb(242,242,242);
  bottom: 0;
  padding: 7px 0;
  width: 100%;
}
#foot ul li {
  float: left;
  margin-right: 10px;
}

#foot ul li:nth-child(4) {
  float: right;
}
#foot ul li:nth-child(5) {
  float: right;
}
#foot ul li:nth-child(6) {
  float: right;
}
